@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn {
  background: #0e7490;
}
.ant-btn-icon {
  font-size: 25px;
}
.ant-menu {
  opacity: 99%;
  z-index: 1000;
}

.ant-menu-sub {
  border-top: 0px solid rgb(236, 236, 236) !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
}
.ant-menu-item:hover {
  background: #f5f5f5;
  color: #0e5e94;
}
.ant-ribbon-placement-end {
  inset-inline-end: -2px !important;
}

@media only screen and (max-width: 768px) {
  .ant-ribbon-placement-end {
    inset-inline-end: 6px !important;
  }
}
